{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard">
    {% include "sidebar.html" %}
    <div class="content">
        <h1>Welcome, {{request.user.first_name | default:request.user.username}}</h1>
        <div class="cards">
            <div class="card">
                <h2>{{total_course}}</h2>
                <p>Enrolled Courses</p>
            </div>
            <div class="card">
                <h2>{{completed_courses}}</h2>
                <p>Completed</p>
            </div>
            <div class="card">
                <h2>{{pending_courses}}</h2>
                <p>Pending</p>
            </div>

            <div class="card">
                <h2>{{ongoing_courses}}</h2>
                <p>Ongoing</p>
            </div>

        </div>



      <h2 class="one1">Available Courses</h2>
    <div class="course-container">
        {% for course in courses %}
         <div class="course-card">
            <h3>{{course.title}}</h3>
            <p>{{course.description}}</p>
            <a href= "{% url 'courses:course_detail' course_id=course.id %}">
                View Course
            </a>
         </div>
         {% empty %}
         <p>No Course Available.</p>
         {% endfor %}

        </div>
    </div>

{% endblock %}