{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard">
    {% include "sidebar.html" %}
    <div class="content">
        <h1>Welcoem, {{request.user.first_name | default:request.user.username}}</h1>
        <div class="cards">
            <div class="card">
                <h2>0</h2>
                <p>Enrolled Courses</p>
            </div>
            <div class="card">
                <h2>0</h2>
                <p>Completed</p>
            </div>
            <div class="card">
                <h2>0</h2>
                <p>Pending</p>
            </div>

        </div>
    </div>

</div>
{% endblock %}