{% extends "base.html"  %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static  'css/profile.css' %}">
{% endblock %}
   
{% block content %}

    
<div class="profile-container">
    <h2>My Profile</h2>

     
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
         <label for="image-input" class="profile-image">
            <img src="{{ profile.image.url }}" alt="Profile">
         </label>

         <input type="file" 
         id="image-input"
         name="image"
         hidden
         onchange="this.form.submit()"
         >
    </form>    




    <div class="profile-card">
        <p><Strong>Role :</strong> {{profile.role}}</p>
        <p><strong>Username :</strong> {{ request.user.username }}</p>
         <p><strong>Email :</strong> {{ request.user.email }}</p>
           <p><strong>Date Joined :</strong> {{ request.user.date_joined }}</p>
         <p><strong>Last Login :</strong> {{ request.user.last_login }}</p>
    </div>
</div>
{% endblock %}