.profile-card{
    display:flex;
    flex-direction:column;
    gap:25px;
    margin-left:15px;

}
h2{
    margin:10px auto 20px 15px;
}

.profile-image img{
    width:80px;
    height:80px;
    margin:5px auto 10px 25px;
    border-radius:50%;
    border:3px solid black;
}