*{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.course-container{
    margin:30px auto;
    box-sizing: border-box;
    width:80%;
   
}

h1,p,h2{
    margin-top:30px;
}

a{
    display:inline-block;
    margin-top:20px;
}

.lesson-card{
    margin-bottom:20px;
}
h2{
    margin-bottom:5px;
}

.enroll{
    background-color:rgb(31, 123, 228);
    border-radius: 8px;
    border:1px solid black;
    text-decoration: none;
    margin-left:14px;
    padding:8px;
}

.sts{
    padding:8px;
    border-radius:6px;
    background-color:rgb(34, 222, 247);
    width:100px;
}

.sys{
    color:rgb(40, 245, 40);
}

.sys1{
    color:red;
}