{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <h1>Learn Anytime,Anuwhere</h1>
    <p>
        Learn programming from experienced instructor.
    </p>
    <a href="#"class="btn">Explore Courses</a>
</section>

<section class="features">

    <div class="card">
        <h3>Python</h3>
        <p>Beginner to Advanced</p>
    </div>

    <div class="card">
        <h3>Django</h3>
        <p>Build web Applications</p>
    </div>
    
    <div class="card">
        <h3>Java</h3>
        <p>Object Oriented Programming</p>
    </div>

</section>

{% endblock %}