
<div class="sidebar">

    <h2>LMS</h2>
    {% if request.user.profile.role == "Student" %}
     <a href="{% url 'accounts:student_dashboard' %}">🏠 Dashboard</a>
     <a href="#">📚 My Courses</a>
     <a href="#">📝 Assignments</a>
     <a href="{% url 'accounts:profile' %}">👤 Profile</a>
     <a href="{% url 'accounts:logout' %}">🚪 Logout</a>
     {% else %}
     <a href="{% url 'accounts:instructor_dashboard' %}">🏠 Dashboard</a>
     <a href="{% url 'accounts:instructor_courses' %}">📚 Courses</a>
     <a href="{% url 'courses:create_course' %}">➕  Add Course</a>
     <a href="#">👨‍🎓Student</a>
     <a href="{% url 'accounts:profile' %}">👤 Profile</a>
     <a href="{% url 'accounts:logout' %}">Logout</a>
     {% endif %}
</div>