{% extends "base.html" %}
{% load static %}


{% block extra_css  %}
<link rel="stylesheet" href="{%  static 'css/addlesson.css' %}">
{% endblock %}


{% block content %}

<p>Course: {{course.title}}</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Subtitle</label>
    <input 
    type="text"
    name="subtitle"
    required
    >

    <label>Description</label>
    <textarea
        name="description">
</textarea>

<label>Video</label>
<input 
 type="file"
 name="video"
 accept="video/*"
 required
>

<button type="submit">
    Add lesson
</button>

</form>
</div>

{% endblock %}