{% extends "base.html" %}
{% block content %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href = "{% static 'css/subtitle.css' %}">
{% endblock  %}

<div class="course-container">
   <h1>{{ course.title}}</h1>
   <p>{{course.description}}</p>
   {%  if request.user == course.instructor %}
<a href="{% url 'courses:add_lesson' course.id %}">
   ➕ Add Lesson
</a>
   {% endif %}
   <h2>Course Lesson</h1>

   {% for lesson in course.lesson.all %}
    
   <div class="lesson-card">
    <h3>{{forloop.counter}}. {{lesson.subtitle}}</h3>
    <p> {{lesson.description}}</p>
    <a href="{% url 'courses:lesson_detail' lesson.id %}">
      ▶ Watch
    </a>
   </div>

   {% empty %}
   <p>No Lessoon Available yet.</p>
   {% endfor %}

</div>

{% endblock  %}